{{define "coverage-rate" -}}
<div class="col-sm-3 threshold-badges">
    <div class="badge-progress badge-{{.Color}}">
        <div class="badge-header">
            <div class="rate">{{.Rate}}%</div>
        </div>
        <div class="badge-progressbar">
            <span data-fill="{{.Rate}}%" style="width: {{.Rate}}%;"></span>
        </div>
        <div class="badge-footer">
            <h3>Coverage Rate</h3>
            {{ if (gt .Uncovered 0) }}
                <span>{{.Uncovered}}/{{.Total}} packages were not considered by any rule.</span>
            {{ else }}
                <span>All the packages were considered by at least one rule.</span>
            {{ end }}
            <span>[Threshold: {{.Threshold}}%]</span>
        </div>
    </div>
</div>
{{end}}