{{define "header" -}}
<!DOCTYPE html>
<html>
	<head>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
		<link rel="stylesheet" type="text/css" href="report.css" />
		<title>Arch-Go Execution Report</title>
	</head>
    <body>
{{end}}