{{define "rules-details" -}}
<table class="rule-details" border="1" frame="void" rules="rows">
    <thead>
    <tr>
        <th style="width:200px;">Rule Type</th>
        <th>Rule Description</th>
        <th style="width:100px;">Result</th>
    </tr>
    </thead>
    <tbody>
    {{ range $item := .RulesDetails }}
    <tr class="rule-verification">
        <td rowspan="{{ inc (len $item.Verifications) }}">{{ $item.Type }}</td>
        <td>{{ $item.Description }}</td>
        <td class="status" style="color:{{ $item.Color }}">{{ $item.Status }}</td>
    </tr>
    {{ range $detail := $item.Verifications }}
    <tr style="color:{{ $detail.Color }}">
        <td style="padding-left:10px;">
            Package {{ $detail.Package }}
            {{ if gt (len $detail.Details) 0 }}
            <ul>
                {{ range $detail.Details }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </td>
        <td style="text-align:center;vertical-align:top;">{{ $detail.Status }}</td>
    </tr>
    {{ end }}
    {{ end }}
    </tbody>
</table>
{{end}}