{{define "compliance-rate" -}}
<div class="col-sm-2 summary-badges">
    <div class="badge-progress badge-{{if (.Pass)}}green{{else}}red{{end}}">
        <div class="badge-header">
            <div class="rate">{{.Rate}}%</div>
        </div>
        <div class="badge-progressbar">
            <span data-fill="{{.Rate}}%" style="width: {{.Rate}}%;"></span>
        </div>
        <div class="badge-footer">
            <h5>Compliance Rate</h5>
            <span>{{.Passed}}/{{.Total}} rules were successfully verified</span>
            <span>[Threshold: {{.Threshold}}%]</span>
        </div>
    </div>
</div>
{{end}}