{{define "coverage-rate" -}}
<div class="col-sm-2 summary-badges">
    <div class="badge-progress badge-{{if (.Pass)}}green{{else}}red{{end}}">
        <div class="badge-header">
            <div class="rate">{{.Rate}}%</div>
        </div>
        <div class="badge-progressbar">
            <span data-fill="{{.Rate}}%" style="width: {{.Rate}}%;"></span>
        </div>
        <div class="badge-footer">
            <h5>Coverage Rate</h5>
            {{ if (gt (len .Details) 0) }}
                <span>{{ len .Uncovered}}/{{ len .Details}} packages were not considered by any rule.</span>
            {{ else }}
                <span>All the packages were considered by at least one rule.</span>
            {{ end }}
            <span>[Threshold: {{.Threshold}}%]</span>
        </div>
    </div>
</div>
{{end}}