{{define "summary" -}}
<div class="container summary">
<div class="row">
    <div class="col-sm-6">
        <h3>Rules Summary</h3>
        {{template "rules-summary" . -}}
    </div>
    {{template "compliance-rate" .SummaryOld -}}
    {{template "coverage-rate" .SummaryOld -}}
    {{template "running" .Summary -}}
</div>
</div>
<br/>
<br/>
{{end}}