{{define "content" -}}
<div class="container">
    <div class="page-header">
        <h3>Verification Details</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-compliance-tab" data-toggle="tab" href="#nav-compliance" role="tab" aria-controls="nav-compliance" aria-selected="true">Compliance</a>
                    <a class="nav-item nav-link" id="nav-coverage-tab" data-toggle="tab" href="#nav-coverage" role="tab" aria-controls="nav-coverage" aria-selected="false">Coverage</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-compliance" role="tabpanel" aria-labelledby="nav-compliance-tab">
                    <div class="container">
                        <h4>Rule Details</h4>
                        {{template "rules-details" . -}}
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-coverage" role="tabpanel" aria-labelledby="nav-coverage-tab">
                    <div class="container">
                        <h4>Uncovered Packages: {{ len .UncoveredPackages }}</h4>
                        {{ if (gt (len .UncoveredPackages) 0) }}
                        <p>The following packages were not considered by any rule.</p>
                        <ul>
                            {{ range .UncoveredPackages }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                        {{ else }}
                        <span>All the packages were considered by at least one rule.</span>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{end}}