{{define "rules-summary" -}}
<table class="rules-summary">
    <thead>
    <tr>
        <th style="width:200px;">Rule Type</th>
        <th style="width:120px;">Summary</th>
        <th style="width:100px;">Total</th>
        <th style="width:100px;">Succeed</th>
        <th style="width:100px;">Fail</th>
    </tr>
    </thead>
    <tbody>
    {{ range $item := .RulesSummary }}
    <tr>
        <td>{{ $item.Type }}</td>
        <td>
            <div class="result_bar">
                <div class="result_succeeded width-{{ $item.Ratio }}"></div>
                <div class="result_legend">{{$item.Succeeded}}/{{$item.Total}}</div>
            </div>
        </td>
        <td style="text-align:center;">{{$item.Total}}</td>
        <td style="text-align:center;">{{$item.Succeeded}}</td>
        <td style="text-align:center;">{{$item.Failed}}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{end}}